.navbar-custom {
  background: #f3f3f3;
  /* background-image: -webkit-linear-gradient(to bottom left, #1d1d1d, #3d3d3d, #dbdbdb);
  background-image: -o-linear-gradient(to bottom left, #1d1d1d, #3d3d3d, #dbdbdb);
  background-image: -moz-linear-gradient(to bottom left, #1d1d1d, #3d3d3d, #dbdbdb);
  background-image: linear-gradient(to bottom left, #1d1d1d, #3d3d3d, #dbdbdb); */
  margin: auto;
}

body {
    background: #383838;
    color:#ffffff;
}

.jumbotron{
    background: #4d4d4d;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

#potencia{
    color: rgb(255, 99, 132);
}

#cardsGeneral{
    background: rgb(73, 73, 73);
    text-align: center;
    height: 140px;
}

#cardsTitle {
    font-size: 17px;
    font-weight: bold;
    color:#fcfcfc; 
}

#cardsContent {
    font-size: 16px;
}

#potenciaLogo {
    width: 60px;
    height: 60px;
}

#corrente{
    color: rgb(255, 99, 132);
}

#correnteLogo {
    width: 60px;
    height: 60px;
}

#custo{
    color: rgb(255, 99, 132);
}

#consumo{
    color: rgb(255, 99, 132);
}

#cardSub {
    font-size: 10px;
}

#dashTitle {
    font-size: 30px;
    font-weight: bold;
}