.navbar-custom {
  background: #1b990b;
  background-image: -webkit-linear-gradient(to bottom left, #ec780b, #b637a3, #e14eca);
  background-image: -o-linear-gradient(to bottom left, #ec780b, #b637a3, #e14eca);
  background-image: -moz-linear-gradient(to bottom left, #ec780b, #b637a3, #e14eca);
  background-image: linear-gradient(to bottom left, #ec780b, #b637a3, #e14eca);
  margin: auto;
}

body {
    background: #383838;
    color:#ffffff;
}

.jumbotron{
    background: #4d4d4d;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}
