.navbar-custom {
  background: #313131;
  background-image: -webkit-linear-gradient(to bottom left, #1d1d1d, #3d3d3d, #dbdbdb);
  background-image: -o-linear-gradient(to bottom left, #1d1d1d, #3d3d3d, #dbdbdb);
  background-image: -moz-linear-gradient(to bottom left, #1d1d1d, #3d3d3d, #dbdbdb);
  background-image: linear-gradient(to bottom left, #1d1d1d, #3d3d3d, #dbdbdb);
  margin: auto;
}

body {
    background: #383838;
    color:#ffffff;
}

.jumbotron{
    background: #4d4d4d;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}
